* {
font-family: "Merriweather", serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding-top: 60px;
    background-color: #0b1d3a;
}
header{
    width: 100%;
    height: 60px;
    background-color: #122b52;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul:hover {
    cursor: pointer;
    
}
li {
    color: #d7d9ea;
    
}
li:hover {
    filter: drop-shadow(1px 1px white)
}
h1 {
    font-size: 60px;
    font-family: "Rowdies", sans-serif;
    margin-top:60px;
    color: #d7d9ea;
    position: relative;
    top: 200px;
    left: 80px;
    z-index: -1;
}
img {
    height:  500px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 200px;
    z-index: -1;
}
a {
    color: #d7d9ea;
    text-decoration: none;
}

h2 {
    color: #d7d9ea;
    position: relative;
    margin: 20px;
    width: 100%;
    top: -50px;
    left: 650px;
    font-size: 35px;
}
.h2cima {
    position: relative;
    top: 20px;
}
p {
    color: #d7d9ea;
}
.parag-um {
    font-size: 20px;
    position: relative;
    top: 100px;
    right: 200px;
    margin: 0px;
    padding: 60px;
}
video {
    position: relative;
    height: 500px;
    right: 130px;
    z-index: 0;
}
.video {
    display: flex;
}
.parag-video {
    font-size: 20px;
    position: relative;
    top: -100px;
    left: 320px;
}
.parag-dois {
    font-size: 20px;
    position: relative;
    top: 80px;
    right: 100px;
    margin: 0px 200px 0px 120px;
}
.parag-tres {
    font-size: 20px;
    position: relative;
    top: 80px;
    right: 60px;
    margin: 0px 120px 80px 0px ;
}
.parag-quatro {
    font-size: 20px;
    position: relative;
    top: 80px;
    right: 150px;
    margin: 0px 120px 80px 0px ;
}
.parag-cinco {
    font-size: 20px;
    position: relative;
    top: 80px;
    right: 110px;
    margin: 0px 120px 80px 0px ;
}
.inicio {
    display: flex;
    height: 400px;
    margin-bottom: 250px;
}

.quem-e {
    display: flex;
    height: 400px;
    margin-bottom: 60px;

}
.onde-atua {
    display: flex;
    height: 400px;
    margin-top: 200px;
    margin-bottom: 60px;
}
.formações {
    display: flex;
    height: 400px;
    margin-bottom: 0px 60px 60px 0px;
    position: relative;
    
}
.projetos {
    display: flex;
    height: 400px;
    margin-bottom: 60px;
    position: relative;
    top: 15;
}
.curiosidades{
    display: flex;
    height: 400px;
    margin-bottom: 60px;
    
}

strong {
    color: #001aff ;
}
.combullet{
    display: flex;
    list-style: disc;
    position: relative;
    top: -100px;
    margin: 0px 60px 0px 60px;
}
footer {
    text-align: center;
}