html {
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 60px;
    background-color: #122b52;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul:hover {
    cursor: pointer;
}
li {
    color: #d7d9ea;
    
}
body {
    margin: 0;
    padding-top: 60px;
    background-color: #0b1d3a;
}
h1 {
    margin-top:60px;
    color: #d7d9ea;
}
a {
    color: #d7d9ea;
    text-decoration: none;
}

h2 {
    color: #d7d9ea;
    margin-top: 300px;
}
p {
    color: #d7d9ea;
}
* {
font-family: "Merriweather", serif;
}
.inicio {
    display: flex;
}
.quem-e {
    display: flex;
}
.onde-atua {
    display: flex;
}
.formações {
    display: flex;
}
.projetos {
    display: flex;
}
.curiosidades{
    display: flex;
}